.overlay{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 150px;
    padding-left: 20px;
    padding-top: 20;
    height: 70px;
    z-index: 10;
    color: rgb(92, 92, 92);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8); /*dim the background*/
  }
  .react-datepicker__input-container {
    width: 100%;
  }
  .ant-checkbox-group-item {
    display: flex
  }